<script type="text/template" class="template doctab script"><a title="Script file" href="#" role="tab" data-toggle="tab"  name-attribute="<%- name %>"><div class="file-name"><%- name %> <span class="label label-success label-small" >S</span></div><form class="hidden"><input type="text" class="form-control" placeholder="<%- name %>"><br><button type="submit" class="btn btn-default btn-block">Submit</button></form></a></script>


<script type="text/template" class="template doctab binary"><a title="Binary file" href="#" role="tab" data-toggle="tab" name-attribute="<%- name %>"><%- name %> <span class="label label-default label-small" >B</span><form class="hidden"><input type="text" class="form-control" placeholder="<%- name %>"><br><button type="submit" class="btn btn-default btn-block">Submit</button></form></a></script>  


<script type="text/template" class="template doctab text"><a title="Text file" href="#" role="tab" data-toggle="tab" name-attribute="<%- name %>"><%- name %> <span class="label label-info label-small" >T</span><form class="hidden"><input type="text" class="form-control" placeholder="<%- name %>"><br><button type="submit" class="btn btn-default btn-block">Submit</button></form></a></script>    


<script type="text/template" class="template logger-src-entry"><td><%-emitter%></td><td><%-context%></td><td><%-prio%></td><td><%-body%></td></script>

<script type="text/template" class="template logger-mc-entry"><td><%-body%></td></script> 		  

<script type="text/template" class="template logger-console-entry"><td><%-body%></td></script>  



